/* 
    reset 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    general 
*/


.container{
    margin: 0 auto;
    max-width: 1170px;
}

.debug-blue-background{
    background-color: #006CFA;
    border: 1px solid white;
    min-height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.debug-green-background{
    background-color: #00E165;
    border: 1px solid #006CFA;
    min-height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.padding{
    padding: 15px;
}

header .row:nth-child(8){
    margin-top: 30px;
}

/* 
    header 
*/

/* 
    main 
*/

/* 
    footer 
*/
